
@{
    ViewBag.Title = "Planets";
}

<div class="divs">

    <div class="divleft">
        <img class="divpic" src="~/Images/1.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Earth</h3>
        <p>Earth is the ancestral home of the humans and where the great Orokin Empire started, and where most Tenno were frozen
        in cryosleep. After the fall of the Empire, Earth is overtaken by durable vegetation and all of the planet is covered in dence
         rainforests. The small astral body lands in the area of control of the Grineer, who have tried to poison away the forests so that
         they can use the planet as one of their bases of operation, but instead of killing the forests, they poisoned the air, amking it 
         hard to breath. Only a few animals are adapted to the harsh conditions and call the planet their home. The only hospitable place left are 
         the Plains of Eidolon near Cetus, which are protected by their ancient Orokin ower, which they worship, called the Unum. It covers the
         Plains and Cetus in a protective barrier, which stops the forests from spreading and the air from getting poisoned. Although the area
         is a no-combat zone, the Grineer violate this to use the Plains fro profit and are often fought back by the Tenno, the ghosts of
         battles long past, called the Eidolons who come out at night, and the relatively harsh conditions.</p>
    </div>

    <h3> Levels 1-25 </h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/2.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Venus</h3>
        <p>Venus, once a storm of fire and flames, turned into a frozen wasteland by the Orokin in an attempt to advance their civilization to 
        other planets, now a base of operation for the Corpus, a cult worshipping money, trying to exploit the planet and use its resourses for profit.
         Their main base of operations being the Orb Valley, the Eye of the Storm, the place keeping the planet in a cold state. Tenno are sent all around the
        planet on all kinds of missions by the Lotus in the different corpus outposts. Later they receive a distress call from a citizen in Fortuna in the
        Valley, asking fro help in the rebellion agains the owner of the Valley Nef Anyo and his harsh working and debt conditions. The Tenno join 
        the Solaris United rebelion and help their leaders, Vox Solaris, with fighting the giant spider machines, called Orb Mother, for supremacy over the
         Valley.</p>
    </div>

    <h3> Levels 3-18 </h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/3.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Mercury</h3>
        <p>Mercury is the closest planet to the Sun and is inhospitable to everything on its surface, but that won't stop Grineer and
        their mining operation for resourse they can use to assert their dominance over the system. The planet and its surroundings are in control
        of the Grineer and are surrounded by battle galleons, protecting the asteroid, which are moving grineer bases, which the mine for
        resourses. The tenno are sent on various missions to sabotaje the operations and stop their commander Capitain Vor.
        </p>
    </div>

    <h3> Levels 6-11</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/4.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Mars</h3>
        <p>Mars is another planet under Grineer control, used as a base of operations, they take shelter from the sandy surface in the cities of
         a long dead civilization's cities carved in the mountains. The tenno are sent on missions to sabotage and cause chaos in their bases, culminating in the defeat 
        of their leader in the area, Leutenant Lech Krill. Moreover they're sent there by a wandering trader called Baro ki'Teer to find the blueprints for
        constructing a living war machine which protected their civilization long ago, called Inaros, the pharoh of sands.</p>
    </div>

    <h3> Levels 8-20</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/5.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Phobos</h3>
        <p>Phobos is a highly contested zone between the Grineer and the Corpus. All knowledge to why the moon is strategicaly important
        to both sides is unknown and none of the can begin their plans for it as it is a constant war zone. The tenno are sent 
        to disrupt some of the Corpus ships around the area and ultimately kill the leader: The Sergent.</p>
    </div>

    <h3> Levels 10-25</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/6.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Ceres</h3>
        <p> Ceres is a dwarf planet under Grineer control. It orbits around in an asteroid belt and so is heavily protected by natural
        formations. They use the panet for mass production of their galleons and fomorian class ships, which creates a ton of waste, which covers the planet
        's surface, forming seas and rivers of radioactive sludge. Tenno are sent to disrupt operation and in the process steal some
        fomorian class ship's cores, culminatin in their second fight with Capitain Vor and Lech Krill, the latter of which loses his life.</p>
    </div>

    <h3> Levels 12-25</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/7.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Jupiter</h3>
        <p> The giant gas planet is under the control of the Corpus, who use their giant foating gas cities to collect valiable gasses, floating
        in the planet's atmosphere. The Tenno disrupt the gas cities in order to find the one which houses the laboratory of Alad V, a
        high ranking corpus scientist who uses the fallen Warframes' part to create proxies called Zanukas to hunt down the Tenno. His laboratory
        is destroyed and the Zanuka prototype is killed.</p>
    </div>

    <h3> Levels 15-30</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/8.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Europa</h3>
        <p>The icy moon of Jupiter, known as Europa, is home to one of the largest crash sites of the modern war. 
        The scattered remains of a vast Corpus Obelisk litters the snowy landscape while the above wages on. On the otherwise lifeless surface, 
        Corpus crew work to recover lost assets, tunneling their way through the glacial interior and restoring any and all salvageable items 
        until financial losses are recouped.</p>
    </div>

    <h3> Levels 18-33</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/9.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Void</h3>
        <p>Originally we studied Void occurrences from afar, observing and cataloguing the distribution of galaxies and refining cosmological 
        evolution models. We are in a new age of cosmic exploration. Advancements in space travel partnered with determined curiosity have brought
        us closer to our object of study, and with it, revelation.</p>
    </div>

    <h3> Levels 10-45</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/10.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3> Saturn</h3>
        <p>The historically well-travelled merchant shipping lanes of Saturn are now dominated by Grineer blockades.
        Heavy military influence populates this area where Grineer Commanders believe they have a strategic foothold on travel throughout the System.
        Under the safeguard of patrolling Galleons, the Grineer ceaselessly train their expanding forces, making the region nigh impossible to
        overtake.</p>
    </div>

    <h3> Levels 21-36</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/11.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Uranus</h3>
        <p>Submerged deep below Uranus’ oceanic surface, and hidden from prying eyes, is a research facility for cloning and reproduction. 
        Water pressure at these extreme depths put massive strain on the glass and steel structures housing these operations, 
        but as freshly sprung leaks remind of the impending crushing force surrounding them, the Grineer forge ahead with their experiments.</p>
    </div>

    <h3> Levels 24-37</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/12.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Neptune</h3>
        <p>The Corpus have perfected automated manufacturing and continue to demonstrate maximum efficiency producing the robotic proxies
        they build to serve them. Immaculate production lines and flawless technical engineering ensure that the production of robotics and 
        intelligent, synthetic machines continues in perpetuity.</p>
    </div>

    <h3>Levels 27-40 </h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/13.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Moon</h3>
        <p>Gold rings circle and encapsulate the desolate moonscape – lavish architecture signifying the Orokin mastery over all things
        natural and technological during their reign. The opalescent halls stitching together what the enemy destroyed have been vacated 
        since that era came to an end.</p>
    </div>

    <h3> Levels 25-30</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/14.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3> Pluto</h3>
        <p> Pluto is small and cold, and organic tissue does not fare well in its extreme climate. But the merchant spacemen always seek 
        opportunity for profit in regions where others dare not travel. Robotic proxies act as security in the largely un-manned manufacturing 
        facilities that operate in the area.</p>
    </div>

    <h3> Levels 30-45</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/15.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Derelicts</h3>
        <p>Even the most culturally and technologically advanced civilization in history could not contain the menace of the Infestation. 
        After an unknown cataclysmic event propelled them from the Void, Orokin vessels were left adrift, becoming uninhabited and overgrown. 
        The tireless force of probing infested tendrils penetrate and dislodge the once majestic and opulent halls of these Orokin vessels</p>
    </div>

    <h3> Levels 25-35</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/16.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Erida</h3>
        <p>There are no longer any active military or research campaigns in the Eris region – it is overrun. 
        Long evacuated Corpus and Grineer vessels drift aimlessly in orbit, slowly being devoured by the techno-organic parasite
        known as the “Infestation”. What remains is a twisted graveyard of partially-digested ships that are disfigured versions of their original
        forms... Abandoned, but not unoccupied.</p>
    </div>

    <h3> Levels 30-45</h3>

    <div class="divleft">
        <img class="divpic" src="~/Images/17.png" alt="no pic" />
    </div>

    <div class="divright">
        <h3>Sedna</h3>
        <p>If there are new discoveries to make or ancient tools of war yet to be excavated, the Grineer want to be there 
        first — at the frontier of space exploration. Always seeking the upper-hand against their foes, they have numerous deployments that border
        the known reaches of our solar system, poised to enter brave new territory and unexplored space on command.</p>
    </div>

    <h3> Levels 35-85 </h3>
</div>

